
@font-face {
  font-family: Sabon;      
  src: url('../fonts/sabon-300-normal.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "ITC Avant Garde Gothic";      
  src: url('../fonts/itc-avant-garde-gothic-300-normal.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}

@font-face {
  font-family: "ITC Avant Garde Gothic";      
  src: url('../fonts/itc-avant-garde-gothic-400-normal.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  unicode-range: U+0-10FFFF;
}
